@import '../../../styles/constants.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 48px;
    padding: 14px 16px;
    background: #126FE1; 
    color:  #FDFEFF;
    white-space: nowrap;
    line-height: 160%;
    transition: background-color 0.3s ease-in-out;
    font-size: 18px;
    font-family: $medium;
    text-align: center;

    &.validSubmit {
        background: #126FE1; 
        transition: background-color 0.3s ease-in-out;
    }
    &:hover {
        background: #3989EC; 
    }
    &:active {
        background: #094DA0; 
    }
}

