@import '../../../styles/constants.scss';

.button {
    color: $color-primary30base;
    font-family: $semiBold;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 160%; 
    letter-spacing: 0.18px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.button:hover {
    color: $color-primary20; 
}
.button:active {
    color: $color-primary40; 
}