@import '../../../styles/constants.scss';

:global {
	.ant-select-single {
		.ant-select-selector {
			color: $color-primary30base;
			padding: 14px;
		}
	}
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 410px;
}

.step2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 8px;

	.title {
		font-family: $font-ns-semiBold;
		font-size: 40px;
		line-height: 120%;
		text-align: center;
		color: $color-gray80;
		margin-top: 20px;

		@media (max-width: 560px) {
			font-size: 32px;
		}
	}

	.button_location {
		width: 100%;
		padding: 14px 16px;
		min-height: 56px;
		margin-top: 32px;
		border-radius: 48px;
		border-color: $color-primary30base;
		color: $color-primary30base;

		.btn_text {
			display: flex;
			justify-content: center;

			img {
				margin-right: 8px;
			}
		}
	}

	.text {
		font-family: $font-ns-regular;
		font-size: 18px;
		line-height: 160%;
		color: $color-gray70;
		text-align: center;
		margin-top: 8px;
		padding: 0 5px;

		@media (max-width: 560px) {
			font-size: 16px;
		}
	}

	.spanOr {
		font-family: $font-ns-regular;
		text-align: center;
		width: 100%;
		font-size: 14px;
		line-height: 160%;
		color: $color-gray50;
		margin: 24px 0 24px;
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 100%;
		margin-top: 32px;

		.m_b {
			margin-bottom: 16px;
		}

		.label {
			font-family: $font-ns-medium;
			color: $color-gray80;
			font-size: 16px;
			line-height: 160%;
		}
		.select_wrapper {
			position: relative;
		}

		.select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			background-image: url('../../../assets/img/icons/icons-SignUp/arrow_down.svg');
			background-size: 24px;
			background-repeat: no-repeat;
			background-position: 96%;
			font-family: $font-ns-regular;
			font-size: 16px;
			padding: 14px;
			border-radius: 12px;
			border-color: $color-gray30;
			line-height: 160%;
			width: 100%;
			border: 1px solid #ccc;
			border-radius: 12px;
			color: $color-gray80;
			background-color: #fff;
			box-shadow: none;
			cursor: pointer;
			margin-top: 8px;

			&_disabled {
				background-image: url('../../../assets/img/icons/icons-SignUp/arrow_down_disabled.svg');

				border-color: $color-gray40;
				color: $color-gray40;
			}

			&:focus {
				background-image: url('../../../assets/img/icons/icons-SignUp/arrow_up.svg');

				outline: none;
				border-color: #007bff;
			}

			.select_wrapper {
				position: relative;
			}
		}
	}

	.margin_bottom {
		margin-bottom: 32x;
	}

	.skip_link {
		font-family: $font-ns-medium;
		font-size: 16px;
		line-height: 160%;
		color: $color-gray50;
		margin-top: 10rem;
		text-align: center;
		margin-top: 16px;

		.link {
			color: $color-primary30base;

			&:hover {
				color: $color-primary20;
			}
		}
	}
}
