@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

@mixin customFontStyles($font-size, $font-style, $font-weight) {
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
}

@mixin fontSize16Normal($font-weight) {
  font-size: 16px;
  font-style: normal;
  font-weight: $font-weight;
}

.signInButton {
  color: $color-primary30base;
  @include customFontStyles(18px, normal, 500);
  font-family: $semiBold;
  // text-transform: uppercase;
  white-space: nowrap;
  line-height: 160%;
  letter-spacing: 0.18px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.signInButton:hover {
  color: $color-primary20;
}
.signInButtont:active {
  color: $color-primary40;
}
.shadow {
  overflow-y: scroll;
  position: fixed;
  padding: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 9, 28, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn {
  margin: auto;
  width: 580px;
  padding: 40px 40px;
  text-align: center;
  border-radius: 24px;
  background: #fdfeff;

  &__wrapper {
    padding: 0 40px;
  }

  &__icon {
    display: flex;
    justify-content: space-between;
    &__helper {
      width: 24px;
    }
    &__logo {
      display: none;
    }
    &__close {
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
      @include buttonEffect;
    }
    // &__close:hover {
    //     opacity: 0.3;

    // }
  }
  &__title {
    padding-bottom: 8px;
    color: #03091c;
    font-family: $semiBold;
    @include customFontStyles(32px, normal, 600);
    line-height: 130%;
  }
  &__description {
    margin-bottom: 32px;
    color: #0d101d;
    font-family: $regular;
    @include fontSize16Normal(400);
    line-height: 160%;
  }
  &__google {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 48px;
    padding: 14px;
    border: 1px solid #03091c;
    justify-content: center;
    color: #03091c;
    font-family: $medium;
    @include customFontStyles(18px, normal, 500);
    line-height: 160%;
  }
  &__separator {
    margin: 24px 0;
    color: #47474f;
    text-align: center;
    font-family: $regular;
    @include fontSize16Normal(400);
    line-height: 160%;
  }
  &__form {
    &__component {
      padding-bottom: 8px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      label {
        align-self: start;
        color: #0d101d;
        font-family: $medium;
        @include fontSize16Normal(500);
        line-height: 160%;
      }
    }
    &__component:nth-child(1) {
      padding-bottom: 16px;
    }
  }
  @media (max-width: 610px) {
    padding: 16px;
    &__wrapper {
      padding: 0 16px;
    }
    &__description {
      margin-bottom: 16px;
    }
    &__separator {
      margin: 16px 0;
    }
  }
  @media (max-width: 435px) {
    height: 100vh;
    border-radius: 0;

    &__wrapper {
      padding: 0;
    }
    &__icon {
      margin-bottom: 8px;
      &__logo {
        display: flex;
      }
    }
    &__title {
      @include customFontStyles(24px, normal, 600);
    }
    &__description {
      @include customFontStyles(14px, normal, 400);
    }
    &__google {
      padding: 13px;
      @include customFontStyles(16px, normal, 500);
    }
    &__separator {
      @include customFontStyles(14, normal, 400);
    }
  }
}

@media (max-width: 435px) {
  .shadow {
    padding: 0;
  }
}
.form {
  &__forgotPassword {
    text-align: left;
    color: #126fe1;
    font-family: $medium;
    @include fontSize16Normal(500);
    line-height: 160%;
    @media (max-width: 435px) {
      @include customFontStyles(14px, normal, 500);
    }
  }
  &__submit {
    width: 100%;
    margin: 24px 0 32px;
    padding: 14px;
    border-radius: 48px;
    background: #caccd1;
    font-family: $medium;
    color: #fdfeff;
    &.validSubmit {
      background: #126fe1;
      transition: background-color 0.3s ease-in-out;
    }
    &.validSubmit:hover {
      background: #3989ec;
    }
    &.validSubmit:active {
      background: #094da0;
    }
    @include customFontStyles(18px, normal, 500);

    @media (max-width: 610px) {
      margin: 16px 0;
    }
  }
  &__input {
    border: 1px solid #dbdbdd;
    border-radius: 12px;
    padding: 14px 24px;
    color: #47474f;
    font-family: $regular;
    @include fontSize16Normal(400);
    line-height: 160%;
  }
  &__error {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #b3261e;
    font-family: $regular;
    @include fontSize16Normal(400);
    line-height: 160%;
    img {
      max-height: 20px;
    }
    @media (max-width: 435px) {
      gap: 4px;
      @include customFontStyles(14px, normal, 400);
      img {
        max-height: 20px;
      }
    }
  }
}

.noAccount {
  display: flex;
  justify-content: center;
  gap: 8px;
  &__text {
    color: #0d101d;
    font-family: $regular;
    @include customFontStyles(18px, normal, 400);
    line-height: 160%;
  }
  &__signUp {
    color: #126fe1;
    font-family: $medium;
    @include customFontStyles(18px, normal, 500);
    line-height: 160%;
  }
  @media (max-width: 435px) {
    &__text {
      @include customFontStyles(14px, normal, 400);
    }
    &__signUp {
      @include customFontStyles(14px, normal, 400);
    }
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn_modal_open_varify_info {
  display: none;
}
