@import '../../../styles/constants.scss';

.container_main {
	width: 100%;
	max-width: 410px;
	margin-right: 25%;
	padding-bottom: 60px;

	@media (max-width: 1439px) {
		margin: 0 auto auto;
	}
}

.verify_info {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;

	&_main {
		padding-top: 64px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.img_phone {
			width: 64px;
			height: 58px;
			margin-top: 95px;
		}

		.title {
			font-family: $font-ns-semiBold;
			font-size: 40px;
			line-height: 120%;
			text-align: center;
			color: $color-gray80;
			margin-top: 48px;
			margin-bottom: 8px;
		}

		.text {
			font-family: $font-ns-regular;
			font-size: 18px;
			line-height: 160%;
			color: $color-gray80;
			text-align: center;
		}
	}

	.flex_text {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.text_link {
		margin-left: 3px;
		font-family: $font-ns-medium;
		font-size: 18px;
		line-height: 160%;
		color: $color-primary30base;
		text-align: center;
		&:hover {
			color: $color-primary20;
		}
	}

	.link_send {
		margin-bottom: 120px;
	}

	.margin_bottom {
		margin-bottom: 64px;
	}
}

.aside {
	width: 100%;
	max-width: 490px;
	min-height: 100vh;

	@media (max-width: 1300px) {
		display: none;
	}

	&_bg {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-image: url('../../../assets/img/img-sign-up/img_aside_info.png');
	}
}
