@import '../../../styles/constants.scss';

$backgroundCardColor: #FDFEFF !default;

.post_block {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.activity_posts_container {
	width: 100%;
	height: 100%;
	max-height: 226px;
	margin: 12px auto 0;
	padding: 48px 0;
	display: flex;
	align-items: center;
	flex-direction: column;

	.posts_description {
		width: 100%;
		max-width: 465px;
		text-align: center;
		font-family: $font-ns-regular;
		font-size: 18px;
		line-height: 160%;
		color: $color-gray50;
	}

	.posts_button {
		padding: 14px 16px;
		margin-top: 16px;
	}
}

.button_see_more {
	margin: 14px;
	color: #126FE1;
	font-family: $medium;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%;
}

:export {
	backgroundCardColor: $backgroundCardColor;
  }