@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.container {
    @include container-1120;

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}