
@import '../../../styles/constans.scss';

.createNewPasswordSection {
    width: 1440px;
    max-width: 100%;

    .createNewPasswordSection_wrapper {
        width: 386px;
        max-width: 100%;
        margin: 56px auto 310px;

        .createNewPasswordSection_close {
            position: absolute;
            top: 97px;
            right: 8%;
            width: 24px;
            height: 24px;
        }

        .createNewPasswordSection_logo {
            width: 51px;
            height: 28px;
            margin: 0 auto;
            margin-bottom: 38px;
        }

        .createNewPasswordSection_header {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-bottom: 36px;

            .header_title {
                color: #1D1B20;
                text-align: center;
                font-family: $font-p-bold;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; 
            }

            .header_description {
                color: rgba(29, 27, 32, 0.50);
                text-align: center;
                font-family: $font-p-regular;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; 
            }
        }

        .createNewPasswordSection_form {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            
            
            .form_forpassword {

                .form_label {
                    color: #1D1B20;
                    font-family: $font-p-medium;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%;
                }

                .form_input_wrapper {
                    display: flex;
                    width: 386px;
                    padding: 14px 24px;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 48px;
                    border: 1px solid #1D1B20;

                    .form_input {
                        display: flex;
                        width: 228px;
                        align-items: center;
                        gap: 4px;
                        flex-shrink: 0;
                    }
                }
            }

            .form_confirmpassword {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;

                .form_label {
                    color: #1D1B20;
                    font-family: $font-i-medium;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%; 
                }

                .form_input_wrapper {
                    display: flex;
                    width: 386px;
                    padding: 14px 24px;
                    align-items: center;
                    border-radius: 48px;
                    border: 1px solid #1D1B20;
                    margin-bottom: 70px;

                    .form_input {
                        display: flex;
                        width: 228px;
                        align-items: center;
                        gap: 4px;
                        flex-shrink: 0;
                    }
                }
            }
        }

        .createNewPasswordSection_button {
            display: flex;
            width: 386px;
            padding: 14px;
            justify-content: center;
            align-items: center;
            border-radius: 48px;
            background: #126FE1;
            color: #FFF;
            font-family: $font-p-semiBold;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 160%; 
        }
    }
}

.requirements_numbers {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    color: #2E9532;
    font-family: $font-p-regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
}

.requirements_symbolsornumbers,
.requirements_upperandlowcase {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    color: #D50000;
    font-family: $font-p-regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
}