@import '../../../styles/constants.scss';

.container {
	width: 100%;
	max-width: 410px;
	height: fit-content;
	border-radius: 24px;
	padding: 24px;
	background-color: $color-gray10;

	@media (max-width: 1060px) {
		margin-top: 24px;
	}

	@media (max-width: 686px) {
		max-width: 100%;
		padding: 16px;
	}
}

.title_contributions {
	color: $color-gray80;
	font-family: $font-ns-semiBold;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 130%;

	@media (max-width: 686px) {
		font-size: 24px;
	}
}

.description_contributions {
	color: $color-gray70;
	font-family: $font-ns-regular;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	margin-top: 8px;
}

.contributions_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 24px;
	gap: 24px;

	&_empty {
		color: $color-gray50;
		text-align: center;
		font-family: $font-ns-regular;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		padding: 48px 0;
	}

	@media (max-width: 686px) {
		gap: 16px;
	}
}

.btn_see_more {
	font-family: $font-ns-medium;
	font-size: 18px;
	line-height: 160%;
	color: $color-primary30base;
	width: 100%;
	max-width: 158px;
	margin-top: 46px;
}
