@import '../../../styles/constants.scss';

.title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 32px 0 16px 0;
    color: $color-gray80;
    font-family: $medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; 
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 14px;
    border-radius: 12px;
    background-color: $color-gray10;
    &__type {
        color:  $color-gray70;
        font-family: $medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; 
    }
    &__link {
        display: flex;
        gap: 11px;
        align-items: center;

        color:  $color-gray50;
        font-family: $regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
}
.general__footer {
    a {
        margin: 14px;
        color:  #B3261E;
        font-family: $medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        cursor: pointer;
        transition: color 0.5s ease;
    }
    a:hover {
        color: #C74A43;
        transition: color 0.5s ease;
    }
    a:active {
        color: #75110B;
        transition: color 0.5s ease;
    }

}