@import '../../styles/constants.scss';

.wrapper {
    max-width: 1290px;
    margin: auto;
    
}

.container {
    margin: auto;
    padding: 0 8px;
    max-width: 644px;
}
.title {
    color:  #03091C;
    font-family: $semiBold;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
@media (max-width: 676px) {
    .title {
        font-size: 24px;
    }
    .container {
        margin: auto;
        padding: 0 14px;
  
    }

}