@import '../../../styles/constants.scss';

:global {
	.ant-steps.ant-steps-label-vertical {
		.ant-steps-item-tail {
			left: 30px;
			top: 28px;
		}
		.ant-steps-item-content {
			width: 174px;
			margin: 0;
		}
		.ant-steps-item-icon {
			margin: 0;
		}
	}

	.ant-steps {
		width: 100%;
		font-family: $font-ns-regular;

		.ant-steps-item-title {
			font-size: 14px;
		}

		.ant-steps-item-tail {
			top: 22px;
			&::after {
				height: 2px;
				width: 100px;
			}
		}
		.ant-steps-item-container {
			text-align: center;
		}
		.ant-steps-item-icon {
			margin-inline-start: 0;
			font-family: $font-ns-regular;
			line-height: 37px;
		}

		.ant-steps-item-process {
			.ant-steps-item-icon {
				border-color: $color-primary30base;
				background-color: #fff;
				width: 38px;
				height: 38px;
				margin: 0;

				.ant-steps-icon {
					color: $color-primary30base;
					flex: none;
				}
			}

			.ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
				font-family: $font-ns-medium;
				color: $color-gray80;
			}
		}

		.ant-steps-item-finish {
			.ant-steps-item-container {
				.ant-steps-item-tail {
					&::after {
						background-color: $color-gray30;
					}
				}

				.ant-steps-item-content {
					.ant-steps-item-title {
						color: $color-gray80;
					}
				}
			}
			.ant-steps-item-icon {
				background-color: $color-primary30base;
				border-color: $color-primary30base;
				width: 38px;
				height: 38px;
			}
		}

		.ant-steps-item-wait {
			.ant-steps-item-icon {
				background-color: #fff;
				border-color: $color-gray40;
				width: 38px;
				height: 38px;
				margin: 0;

				.ant-steps-icon {
					color: $color-gray40;
				}
			}

			.ant-steps-item-container {
				.ant-steps-item-content {
					.ant-steps-item-title {
						color: $color-gray40;
					}
				}
			}
		}

		.anticon {
			color: $color-gray;
		}
	}
}

.container_main {
	width: 100%;
	max-width: 410px;
	margin: 0 240px auto;
	margin-right: 25%;
	height: 100%;

	@media (max-width: 1439px) {
		margin: 0 auto auto;
	}
}

.step_layout {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;

	&_main {
		padding-top: 64px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 100px;

		.step_header {
			.step_logo {
				text-align: center;
				margin-bottom: 74px;

				@media (max-width: 560px) {
					margin-bottom: 20px;
				}
			}
		}

		@media (max-width: 560px) {
			padding-top: 34px;
		}
	}

	@media (max-width: 560px) {
		padding: 34px 20px;
		padding-top: 34px;
	}
}

.aside {
	height: 100 vh;
	max-width: 490px;
	width: 100%;

	@media (max-width: 1300px) {
		display: none;
	}

	&_bg {
		width: 100%;
		height: 100%;
		object-fit: cover;
		overflow: hidden;
		background-image: url('../../../assets/img/img-sign-up/img_aside_info.png');

		@media (max-width: 1439px) {
			max-width: auto;
			max-height: auto;
			object-fit: contain;
		}
	}
}

.container_novigation {
	margin: 0 auto;
	width: 100%;
	max-width: 894px;
	margin-bottom: 16px;
	margin-left: -161px;

	@media (max-width: 900px) {
		margin-left: 58px;
		margin-top: 20px;
	}

	@media (max-width: 570px) {
		margin-left: 0;
	}
}

.back {
	align-items: center;

	&_link {
		display: flex;
		flex-direction: row;
		align-items: center;
		color: $color-primary30base;

		img {
			width: 24px;
			height: 24px;
			color: inherit;
		}

		.link_text {
			font-family: $font-ns-medium;
			font-size: 18px;
			line-height: 160%;
			letter-spacing: 0.36px;
			color: inherit;
		}
	}
}

.btn_back_desktop {
	@media (max-width: 900px) {
		display: none;
	}
}

.btn_back_mobile {
	display: none;
	@media (max-width: 900px) {
		display: block;
	}
}
