@import '../../styles/constants.scss';

@mixin customFontStyles($font-size, $font-style, $font-weight) {
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
}

.toast {
    position: fixed;
    top: 88px;
    left: 50%;
    transform: translateX(-50%);
    background: #F1F7F2;
    box-shadow: 0px 2px 8px 0px rgba(167, 167, 178, 0.20);
    padding: 16px 24px;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 10001;
    display: flex;
    align-items: center;
    gap: 4px;
    color: $color-systemSuccess;
    @include customFontStyles(18px, normal, 500);
    font-family: $medium;
    line-height: 160%;
    white-space: nowrap;
}
.toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.toast.hide {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
}
.toastRed {
    position: fixed;
    top: 88px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF2F1;
    box-shadow: 0px 2px 8px 0px rgba(167, 167, 178, 0.30);
    padding: 16px 24px;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 10001;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #B3261E;
    @include customFontStyles(18px, normal, 500);
    font-family: $medium;
    line-height: 160%;
    white-space: nowrap;
}
.toastRed.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.toastRed.hide {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
}