@import './constants.scss';


@mixin buttonEffect($baseColor: #47474F, $hoverColor: #3989EC, $activeColor: #094DA0) {
    fill: $baseColor;
    > path {
        transition: fill 0.3s ease-in-out;
        fill: $baseColor;
    }
    &:hover {
        > path {
            transition: fill 0.3s ease-in-out;
            fill: $hoverColor;
        }
    }
    &:active {
        > path {
            transition: fill 0.3s ease-in-out;
            fill: $activeColor;
        }
    }
}

@mixin container-1120 {
    margin: auto;
    max-width: 1120px;
    padding: 0 5px ;
}

@mixin customFontStyles($font-size, $font-style, $font-weight) {
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
}