@import '../../../styles/constans.scss';

.signUpPrimary {
	font-family: $font-p-medium;
	width: 100%;
	background-color: $color-primary30base;
	min-height: 57px;
	font-size: 18px;
	border-radius: 48px;
	display: flex;
	padding: 14px;
	align-items: center;
	justify-content: center;
	line-height: 160%;

	&:hover {
		background-color: $color-primary20;
	}
}
