@import '../../../styles/constants.scss';

.block_useful {
	display: flex;
	align-items: center;
	color: $color-gray50;
	font-family: $font-ns-medium;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%;
	height: 40px;
	padding: 4px 12px;
	border-radius: 12px;
	box-shadow: 0px 2px 8px 0px rgba(167, 167, 178, 0.2);
	background-color: $color-gray;

	.btn_useful_active {
		svg path {
			fill: #126fe1;
			stroke: #126fe1;
		}
	}

	// .btn_useful {
	// }

	.text_useful {
		margin: 0 8px;
	}
}

.btn_useful {
	display: flex;
	align-items: center;
	svg {
		display: block;
	}
}
