@import '../../../styles/constants.scss';

.container {
	width: 100%;
	max-width: 845px;
	height: 100%;
	padding: 24px;
	border-radius: 24px;
	background-color: $color-gray10;

	&.card_wrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}

.content_header {
	display: flex;
	justify-content: space-between;

	.user {
		display: flex;

		.user_data_wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 8px;

			.user_info_top_wrapper {
				display: flex;

				.full_name {
					font-family: $font-ns-medium;
					line-height: 160%;
					font-size: 18px;
					color: $color-gray80;
				}

				.label_vr_exp_wrapper {
					display: flex;
					margin-left: 8px;

					.expert_badge {
						font-family: $font-ns-regular;
						line-height: 160%;
						font-size: 14px;
						color: $color-primary30base;
						border-radius: 24px;
						padding: 4px 8px;
						background-color: #e1ebf8;
						margin-left: 8px;
					}
				}
			}

			.user_info_bottom_wrapper {
				font-family: $font-ns-regular;
				line-height: 160%;
				font-size: 16px;
				color: $color-gray50;
				margin-top: 4px;
			}
		}
	}

	.time_of_creation {
		font-family: $font-ns-regular;
		line-height: 160%;
		font-size: 14px;
		color: $color-gray50;
	}
}

.content {
	&_text {
		color: $color-gray70;
		font-family: $font-ns-regular;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;

		max-height: 76px;
		overflow: hidden;
		word-wrap: break-word;
	}

	.btn_read_more {
		cursor: pointer;
		max-width: 128px;
		font-family: $font-ns-medium;
		line-height: 160%;
		font-size: 16px;
		color: $color-primary30base;
	}

	.expanded {
		max-height: none;
	}
}

.col_right {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 4px;
}

.btn_menu {
	color: $color-gray70;

	font-family: $font-ns-regular;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	display: flex;
	padding: 1px 0;
}

.content_footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.post_menu {
		display: flex;

		&_img {
			width: 16px;
			height: 16px;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.post_menu_visible {
		display: none;
	}
}
