@import '../../../styles/constants.scss';

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 410px;
}

.step1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 8px;

	.title {
		font-family: $font-ns-semiBold;
		font-size: 40px;
		line-height: 120%;
		text-align: center;
		color: $color-gray80;
		margin-top: 20px;
	}

	.text {
		font-family: $font-ns-regular;
		font-size: 18px;
		line-height: 160%;
		color: $color-gray70;
		text-align: center;
		margin-top: 8px;
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-top: 32px;
		width: 100%;
		gap: 16px;
		.m_b {
			margin-bottom: 16px;
		}

		.firstNameWrapper {
			.infoFirstName {
				color: $color-gray70;
				font-family: $font-ns-regular;
				font-size: 16px;
				line-height: 160%;
				margin-top: 8px;
				display: inline-block;
			}
		}

		.label {
			color: $color-gray80;
			font-family: $font-ns-medium;
			font-size: 16px;
			line-height: 160%;
			margin-bottom: 8px;
		}

		.label_required {
			&::after {
				content: '*';
				color: $color-systemError;
				margin-left: 2px;
			}
		}

		.input {
			font-family: $font-ns-medium;
			font-size: 16px;
			color: $color-gray70;
			padding: 14px;
			border-radius: 12px;
			line-height: 160%;
			margin-top: 8px;
			border-color: $color-gray30;

			&::placeholder {
				font-family: $font-ns-regular;
				color: $color-gray50;
			}

			&:focus {
				box-shadow: none;
				border-color: #a7a7b2;
			}

			&:focus-within {
				box-shadow: none;
				border-color: #a7a7b2;
			}

			&.invalid {
				color: $color-systemError;
				border-color: $color-systemError;
				color: $color-systemError;
			}
		}

		.btn_submit_step1 {
			padding: 14px 16px;
			font-family: $font-ns-medium;
			width: 100%;
			background-color: $color-primary30base;
			min-height: 57px;
			font-size: 18px;
			border-radius: 48px;
			display: flex;
			color: $color-gray20;

			align-items: center;
			justify-content: center;
			line-height: 160%;
			Link {
				color: red;
			}
		}
	}
}

.error {
	margin-top: 8px;
	font-family: $font-ns-regular;
	display: flex;
	color: $color-systemError;
	font-size: 14px;
	gap: 5px;

	.img_wrapper {
		display: flex;
		text-align: center;
	}
}
