@import '../../../styles/constants.scss';

.createNewPassword {
    display: flex;
    width: 1440px;
    height: 1024px;
    max-width: 100%;
    background: #FFF;

    .createNewPassword_main {
        width: 949px;
        max-width: 100%;
        padding-top: 64px;
        padding-left: 56px;

        .main_logo_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 96px;
            width: 68px;
            gap: 0.103px;

            .main_logo_text {
                text-align: center;
                font-family: $font-p-semiBold;
                ;
                font-size: 16.5px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                color: #031C35;
            }
        }

        .createNewPassword_section {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 411px;
            max-width: 100%;
            margin: 0 auto;
            gap: 48px;

            .section_text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;
                align-self: stretch;

                .section_title {
                    color: #1D1B20;
                    text-align: center;
                    font-family: $font-p-semiBold;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                }

                .section_description {
                    color: #0D101D;
                    text-align: center;
                    font-family: $font-p-regular;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;

                }
            }

            .section_form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                align-self: stretch;

                .form_block {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    .form_label {
                        color: #0D101D;
                        font-family: $font-p-medium;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 160%;
                    }

                    .form_input {
                        display: flex;
                        height: 56px;
                        padding: 14px;
                        justify-content: space-between;
                        align-items: center;
                        align-self: stretch;
                        border-radius: 12px;
                        border: 1px solid #DBDBDD;
                    }
                }

                .form_warning {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 4px;
                    align-self: stretch;
                
                    .warning_item_wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 4px;
                        align-self: stretch;
                
                        .warning_item {
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            align-self: stretch;
                
                            .item_text {
                                color: #B3261E;
                                font-family: $font-p-regular;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 160%;
                            }
                
                            .item_text_true {
                                color: #228326;
                                font-family: $font-p-regular;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 160%;
                            }
                        }
                    }
                }

                .form_assistiveText {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 4px;
                    align-self: stretch;
                
                    .form_assistiveText_wrapper {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        
                        .assistiveText_good,
                        .assistiveText_wrong {
                            color: #228326;
                            font-family: $font-p-regular;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 160%;
                        }
                
                        .assistiveText_wrong {
                            color: #B3261E;
                        }
                    }
                }

                .form_button,
                .form_button_active {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 411px;
                    height: 56px;
                    margin-top: 40px;
                    padding: 14px 16px;
                    gap: 8px;
                    border-radius: 48px;
                    font-family: $font-p-medium;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%;
                    background: #CACCD1;
                    color: #FDFEFF;
                }

                .form_button_active {
                    background: #126FE1;
                }
            }
        }

        .createNewPassword_section :last-child {
            margin-bottom: 0;
        }
    }

    .createNewPassword_asideBackground_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 491px;
        height: 1024px;
        flex-shrink: 0;

        .createNewPassword_asideBackground {
            display: block;
            width: 100%;
            height: 100%;
            background: url('../../../assets/img/icons/icons-forgotPassword/createNewPasswordBackground.png'), lightgray -84.846px 0.757px / 208.554% 100% no-repeat;
        }
    }
}



