@import '../../styles/constants.scss';

.calendar_title {
	font-family: $font-ns-semiBold;
	font-size: 28px;
	line-height: 130%;
	color: $color-gray80;
	margin-bottom: 16px;

	@media (max-width: 686px) {
		font-size: 24px;
		margin-bottom: 8px;
	}
}
