@import '../../../styles/constants.scss';

:global {
	.ant-tabs {
		.ant-tabs-nav {
			max-width: fit-content;
		}
	}

	.ant-tabs-top {
		.ant-tabs-nav {
			&:before {
				border-color: $color-gray30;
			}
		}
	}
}

.activity_wrapper {
	width: 100%;
	margin: 0 auto;
	border-radius: 24px;
	padding: 24px;
	background-color: $color-gray10;
}

.header_activity {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;

	&_title {
		font-family: $font-ns-semiBold;
		font-size: 28px;
		color: $color-gray80;
		line-height: 130%;
	}

	.children_button {
		font-size: 16px;
	}
}
