@import '../../../styles/constants.scss';

.passwordUpdatedSection {
	width: 1440px;
	max-width: 100%;

	.passwordUpdatedSection_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 245px auto 418px;
		width: 410px;
		max-width: 100%;

		.passwordUpdatedSection_logo_wrapper {
			display: inline-flex;
			padding: 16px;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 40px;
			border-radius: 12px;
			background: rgba(18, 111, 225, 0.1);

			.passwordUpdatedSection_logo {
				width: 32px;
				height: 32px;
			}
		}

		.passwordUpdatedSection_section {
			display: flex;
			width: 410px;
			flex-direction: column;
			align-items: center;
			gap: 8px;
			margin-bottom: 87px;

			.passwordUpdatedSection_title {
				align-self: stretch;
				color: #1d1b20;
				text-align: center;
				font-family: $font-p-semiBold;
				font-size: 40px;
				font-style: normal;
				font-weight: 600;
				line-height: 120%;
			}

			.passwordUpdatedSection_description {
				color: #0d101d;
				text-align: center;
				font-family: $font-p-regular;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 160%;
			}
		}

		.passwordUpdatedSection_button {
			display: flex;
			width: 410px;
			height: 56px;
			padding: 14px 16px;
			justify-content: center;
			align-items: center;
			gap: 8px;
			border-radius: 48px;
			background: #126fe1;
			color: var(--text-text-invert, #fdfeff);
			font-family: $font-p-medium;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 160%;
		}
	}
}
