@import '../../../styles/constants.scss';

.creation_comment {
	margin-top: 24px;
	&_input_wrapper {
		display: flex;
		width: 100%;
	}

	&_btn_wrapper {
		width: 100%;
		max-width: 218px;
		margin-left: auto;
		margin-top: 12px;

		@media (max-width: 460px) {
			max-width: 100%;
		}
	}

	@media (max-width: 768px) {
		margin-top: 16px;
	}
}

.form {
	margin-bottom: 24px;
}

.comments_wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;

	@media (max-width: 686px) {
		gap: 16px;
	}
}

.btn_see_more {
	font-family: $font-ns-medium;
	font-size: 18px;
	line-height: 160%;
	color: $color-primary30base;
	width: 100%;
	max-width: 158px;
	margin-top: 46px;

	@media (max-width: 1060px) {
		margin-top: 0;
	}

	@media (max-width: 686px) {
		font-size: 16px;
	}
}
