@import '../../../styles/constants.scss';

$backgroundCardColor: #FDFEFF !default;

.activity_saved_container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.saved_description {
	width: 100%;
	max-width: 465px;
	text-align: center;
	font-family: $font-ns-regular;
	font-size: 18px;
	line-height: 160%;
	color: $color-gray50;
}

.btn_activity_saved {
	width: 100%;
	max-width: 136px;
	height: 56px;
	padding: 14px 16px;
	border: 1px solid $color-primary30base;
	margin-top: 16px;
	border-radius: 48px;
	background-color: $color-gray10;

	.btn_inner {
		font-family: $font-ns-medium;
		font-size: 18px;
		line-height: 160%;
		color: $color-primary30base;
	}

	&:hover {
		border: 1px solid $color-primary20;
		background-color: $color-gray10;
		color: $color-primary20;
	}
}

.button_see_more {
	margin: 14px;
	color: #126FE1;
	font-family: $medium;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%;
}

:export {
	backgroundCardColor: $backgroundCardColor;
  }