@import '../../styles/constants.scss';

.header {
	width: 100%;
	padding: 24px 0px;

	.header_wrapper {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.header_logo_wrapper {
			display: flex;
			width: 83px;
			height: 32px;
			padding: 0px 34px 5px 0px;
			align-items: center;
			flex-shrink: 0;

			.header_logo {
				width: 49px;
				height: 27px;
				flex-shrink: 0;
			}
		}

		.header_navigation {
			display: flex;
			width: 782px;
			justify-content: space-between;
			align-items: center;

			.navigation_menu {
				display: flex;
				align-items: flex-start;
				gap: 32px;

				.menu_item {
					display: flex;
					justify-content: center;
					align-items: center;

					.item_link {
						color: #03091c;
						font-family: $regular;
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: 160%;
						text-decoration: none;
						border-bottom: 1px solid transparent;

						&:hover {
							color: #126FE1;
							font-weight: 500;
							line-height: 160%;
							border-bottom-color: #126FE1;
						}

						&:active {
							color: #126fe1;
						}
					}
				}
			}

			.navigation_button {
				display: flex;
				gap: 5px;

				.button_link {
					padding: 14px 16px;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 8px;
					border-radius: 48px;
					white-space: nowrap;
					background: #126fe1;
					color: #fdfeff;
					font-family: $medium;
					font-size: 18px;
					font-style: normal;
					font-weight: 500;
					line-height: 160%;
					text-decoration: none;

					&:hover {
						background: #3989ec;
					}

					&:active {
						background: #094da0;
					}
				}
			}
		}
	}
}