.header {
    display: flex;
    width: 90%;
    margin: 31px 5% 25px;
    justify-content: space-between;
    align-items: center;

    &_logo {
        width: 83px;
        height: 32px;
    }

    &_navigation {
        display: flex;
        width: 61%;
        justify-content: space-between;
        align-items: center;

        .navigation_menu {
            display: flex;
            width: 364px;
            justify-content: space-between;
            align-items: flex-start;

            .menu_item {
                display: flex;
                justify-content: center;
                align-items: center;

                .item_link {
                    color: #03091C;
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    text-decoration: none;
                }

                .item_link:hover {
                    color: #126FE1;
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 160%;
                }
            }
        }

        .navigation_button {

            .button_link {
                padding: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 48px;
                white-space: nowrap;
                background: #126FE1;
                color: #FDFEFF;
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 160%;
                text-decoration: none;
            }
        }

        .navigation_account {
            display: flex;
            align-items: center;
            gap: 24px;

            .account_profile {
                width: 56px;
                height: 56px;
                border-radius: 56px;
                background: url('../../assets/img/icons/icons-header/account.svg'), lightgray 50% / cover no-repeat;
            }

            .account_bell {
                display: flex;
                padding: 12px;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }
}