@import '../../styles/constants.scss';

.container {
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	padding: 26px 40px 38px;

	@media (max-width: 686px) {
		padding: 26px 20px 38px;
	}
}

.name_page {
	color: $color-primary30base;
	font-family: $font-ns-medium;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%;

	@media (max-width: 686px) {
		font-size: 16px;
	}
}
