@import '../../styles/constants.scss';

.container {
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	padding: 40px;

	@media (max-width: 768px) {
		padding: 20px;
	}
}

.footer {
	width: 100%;
	flex: 0 0 auto;
	bottom: 0;
	background-color: $color-gray10;

	&_inner {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: 730px) {
			align-items: flex-start;
			gap: 20px;
		}
	}

	&_logo_wrapper {
		width: 100%;
		max-width: 90px;
		display: flex;

		.footer_logo {
			@media (max-width: 730px) {
				width: 68px;
				height: 36px;
			}
		}

		.footer_logo_text {
			width: 100%;

			@media (max-width: 730px) {
				display: none;
			}
		}
	}

	&_menu_nav {
		width: 100%;
		max-width: 845px;
		margin-top: 62px;
		display: flex;
		justify-content: space-between;

		@media (max-width: 730px) {
			flex-direction: column;
			margin-top: 0;
			gap: 8px;
		}

		&_item a {
			font-family: $font-ns-regular;
			font-size: 18px;
			line-height: 160%;
			color: $color-gray70;

			@media (max-width: 400px) {
				font-size: 16px;
			}

			&:hover {
				color: $color-primary30base;
			}
		}
	}

	.copyright_wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 32px;

		@media (max-width: 730px) {
			margin-top: 0;
			justify-content: flex-start;
		}

		.copyright_text {
			font-family: $font-ns-regular;
			font-size: 14px;
			line-height: 160%;
			color: $color-gray50;
		}
	}
}
