@import '../../../styles/constans.scss';

:global {
	.ant-select-single {
		.ant-select-selector {
			color: $color-primary30base;
			border-radius: 12px 0 0 12px;
		}
	}
}

.step3 {
	padding: 102px 0;
}

.container_novigation {
	margin: 0 auto;
	width: 100%;
	max-width: 894px;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 410px;
}

.back {
	padding: 14px 0;
	align-items: center;
	&_link {
		display: flex;
		flex-direction: row;
		align-items: center;
		color: $color-primary30base;

		img {
			width: 24px;
			height: 24px;
			color: inherit;
		}

		.link_text {
			font-family: $font-p-medium;
			font-size: 18px;
			line-height: 160%;
			letter-spacing: 0.36px;
			color: inherit;
		}
	}
}

.step3_inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 12px;

	.title {
		font-family: $font-p-semiBold;
		font-size: 40px;
		line-height: 120%;
		text-align: center;
		color: $color-gray80;
		margin-top: 32px;
	}

	.text {
		font-family: $font-p-regular;
		font-size: 18px;
		line-height: 160%;
		color: $color-gray70;
		text-align: center;
		margin-top: 8px;
	}

	.form {
		margin-top: 32px;
		width: 100%;
		&_item {
			font-size: 23px;
			margin-bottom: 32px;

			label {
				font-family: $font-p-regular;
				color: $color-gray80;
				font-size: 16px;
				line-height: 160%;
			}

			.input_wrapper {
				height: 57px;
				display: flex;

				.phone_input {
					padding: 14px 24px;
					width: 100%;
					border-radius: 0 12px 12px 0;
				}

				.ant-select-single .ant-select-selector.phone_select {
					color: $color-primary30base;
				}

				.phone_select {
					font-family: $font-p-medium;
					font-size: 18px;
					height: inherit;
					max-width: 130px;

					color: $color-primary30base;
					border-radius: 12px 0 0 12px;
				}
			}
		}
	}

	.text_bottom {
		margin-top: 16px;
		text-align: center;
	}

	.link_skip {
		margin-top: 16px;
		text-align: center;
	}
}
