@import '../../../styles/constants.scss';

.professional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0 16px 0;
    &__switcher {
        display: flex;
        align-items: center;
        gap: 4px;
        p {
            color: #0D101D;
            font-family: $medium;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
        }
        svg {
            cursor: pointer;
        }
    }
}
.title {
    display: flex;
    align-items: center;
    gap: 8px;

    color: $color-gray80;
    font-family: $medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; 
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 14px;
    border-radius: 12px;
    background-color: $color-gray10;

    &__type {
        color: $color-gray70;
        font-family: $medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
    }

    &__link {
        display: flex;
        gap: 11px;
        align-items: center;

        color: $color-gray50;
        font-family: $regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;

        span {
            max-width: 230px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

}

.info:hover {
    transition: 0.3s ease-in-out;

    p {
        transition: 0.3s ease-in-out;
        color: #3989EC;

    }

    a {
        transition: 0.3s ease-in-out;
        color: #3989EC;
    }

    &:hover {
        transition: 0.3s ease-in-out;
        color: #3989EC;

        svg path {
            transition: 0.3s ease-in-out;
            fill: #3989EC;
        }
    }

    &:active {
        transition: 0.3s ease-in-out;
        color: #094DA0;

        svg path {
            transition: 0.3s ease-in-out;
            fill: #094DA0;
        }
    }
}

.info:active {
    transition: 0.3s ease-in-out;

    p {
        transition: 0.3s ease-in-out;
        color: #094DA0;

    }

    a {
        transition: 0.3s ease-in-out;
        color: #094DA0;
    }

}

@media (max-width: 676px) {
    .title {
        font-size: 18px;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 14px;
        border-radius: 12px;
        background-color: $color-gray10;

        &__type {
            font-size: 16px;
        }

        &__link {
            font-size: 14px;

            span {
                max-width: 230px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

    }
}