@import '../../../styles/constants.scss';

.buttonSecondary {
	font-family: $font-p-medium;
	width: 100%;
	min-height: 56px;
	font-size: 18px;
	border-color: $color-primary30base;
	color: $color-primary30base;
	border-radius: 48px;
	display: flex;
	padding: 14px 16px;
	align-items: center;
	justify-content: center;
	line-height: 160%;

	&:hover {
		border-color: $color-primary20;
		color: $color-primary20;
	}
}
