* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

a {
	text-decoration: none;
	background-color: transparent;
	display: block;
}

img {
	border-style: none;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}
.ant-dropdown .ant-dropdown-menu {
	margin-top: 14px;
}

.reactEasyCrop_Container {
	border-radius: 12px;
}