@import '../../styles/constants.scss';

.container {
	display: grid;
	row-gap: 20px;
}

.btn_see_more {
	font-family: $font-ns-medium;
	font-size: 18px;
	line-height: 160%;
	color: $color-primary30base;
	width: 100%;
	max-width: 82px;
	margin-top: 46px;
}
