@import '../../../styles/constants.scss';

.verify_code {
	display: flex;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;

	.verify_info_main_logo {
		text-align: center;
		margin-bottom: 50px;
	}
}

.verify_code_main {
	padding-top: 64px;
	width: 100%;
	max-width: 410px;
	margin: 0 240px auto;
	margin-right: 25%;

	@media (max-width: 1439px) {
		margin: 0 auto auto;
	}
}

.container_novigation {
	margin: 0 auto;
	width: 100%;
	max-width: 894px;
	margin-left: -178px;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 410px;
}

.back {
	align-items: center;

	&_link {
		display: flex;
		flex-direction: row;
		align-items: center;
		color: $color-primary30base;

		img {
			width: 24px;
			height: 24px;
			color: inherit;
		}

		.link_text {
			font-family: $font-ns-medium;
			font-size: 18px;
			line-height: 160%;
			letter-spacing: 0.36px;
			color: inherit;
		}
	}
}

.verify_code_inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 16px;

	.img_phone {
		width: 58px;
		height: 58px;
	}

	.title {
		font-family: $font-ns-semiBold;
		font-size: 40px;
		line-height: 120%;
		text-align: center;
		color: $color-gray80;
		margin-top: 48px;
	}

	.description {
		margin-top: 8px;

		&_bottom {
			display: flex;
		}
	}

	.text {
		font-family: $font-ns-regular;
		font-size: 18px;
		line-height: 160%;
		color: $color-gray70;
	}

	.text_link {
		font-family: $font-ns-medium;
		font-size: 18px;
		line-height: 160%;
		color: $color-primary30base;
	}

	.form {
		margin-top: 48px;

		&_input_wrapper {
			display: flex;
			gap: 24px;

			.input {
				font-family: $font-ns-medium;
				font-size: 28px;
				text-align: center;
				width: 85px;
				height: 102px;
				border-radius: 12px;
				padding: 12px 14px;
				border: 1px solid $color-primary10;
				color: $color-gray80;

				&.invalid {
					border-color: $color-systemError;
					background-color: rgba(179, 38, 30, 0.1);
					color: $color-systemError;
				}

				&:hover {
					border-color: $color-primary30base;
					cursor: text;
				}
			}
		}

		.errorMessage {
			font-family: $font-ns-regular;
			font-size: 18px;
			color: $color-systemError;
			text-align: center;
			margin: 14px 0 32px;
		}

		.button_text {
			font-size: 18px;
			color: $color-gray;
		}

		&_text_bottom_wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 64px;
		}
	}
}

.aside {
	max-width: 490px;

	@media (max-width: 1300px) {
		display: none;
	}

	&_bg {
		width: 100%;
		height: 100vh;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}
}
