@import '../../styles/constants.scss';

:global {
	.ant-btn.ant-btn-lg {
		font-size: 18px;
	}
}

.btn {
	font-family: $font-ns-medium;
	width: 100%;
	// min-height: 56px;
	font-size: 18px;
	border-radius: 48px;
	padding: 14px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 160%;
}

.buttonSecondary {
	border-color: $color-primary30base;
	color: $color-primary30base;
	&:hover {
		border-color: $color-primary20;
		color: $color-primary20;
	}
}
